.carousel_base{
  margin-top: 60px;
  display: flex;
  gap: 30px;
  transform: translate(30%, 0%);
  position: relative;
  overflow-x: hidden;
  user-select: none;
}

.carousel_child {
  object-position: center;
  height: max(50vh, 400px);
  aspect-ratio: 12/16;
  object-fit: cover;
  border-radius: 30px;
  background-color: blue;
}
